* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding: 10px 40px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.logo span {
    color: #ff185d;
}

.menu a {
    margin: 0 20px;
    text-decoration: none;
    color: rgb(104, 104, 104);
}

.menu a:hover {
    color: #ff185d;
    transition: 1s;
}

.cadastro button {
    background-color: #ff185d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.cadastro button:hover {
    background-color: #ff2d6b;
    transition: 1s;
}