* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: auto;
    height: 100vh;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding: 10px 40px;
    position: fixed;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.logo span {
    color: #ff183e;
}

.menu a {
    margin: 0 20px;
    text-decoration: none;
    color: rgb(104, 104, 104);
}

.menu a:hover {
    color: #ff183e;
    transition: 1s;
}

.cadastro button {
    background-color: #ff183e;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.cadastro button:hover {
    background-color: #ff417a;
    transition: 1s;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

 .main-bg {
    width: auto;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0) 100%), url("../images/imagem.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
} 


.banner {
    display: block;
    margin: 6rem 0;
    padding: 2rem 0;
}

.banner ul {
    display: flex;
    justify-content: center;
    gap: 26px;
    color: #9b9b9b;
    font-weight: bolder;
    margin-bottom: 8px;
}

.banner li:first-child {
    list-style: none;
}


.banner h1 {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 6px 0;

}

.banner span {
    color: #ff183e;
}

.banner .paragrafo {
    color: #ff183e;
}

.banner p {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 6px 0;
    padding: 5px;
    color: rgb(180, 180, 180);
}

.btn {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    gap: 30px;
}

.btn button {
    padding: 14px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    font-weight: bolder;
    cursor: pointer;
}

.btn a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.btn #btn-ingresso {
    background: #ff183e;
}

.btn #btn-ingresso:hover {
    background: #ff417a;
    transition: 1s;
}

.btn #btn-programacao {
    background: #292929a2;
    border: solid 1px black;
}

.btn #btn-programacao:hover {
    background: #66666685;
    transition: 1s;
}

.sobre {
    background: black;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SobreEvento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 32rem;
    color: rgb(120, 120, 120);
}

.SobreEvento h2 {
    color: white;
    margin: 8px 0;
}

.SobreEvento span {
    color: #ff183e;
}


.paragrafo {
    color: #ff183e;
}

.mainCards {
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}

.cards {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 0 14px;
    height: 10rem;
    width: 12rem;
    background-color: rgb(42, 42, 42);
    color: rgb(235, 235, 235);
    border-radius: 10px;
    text-align: center;
    padding: 10px 6px;
}

.card h4 {
    font-weight: bolder;
    margin: 14px 0;

}

.card p {
    text-align: center;
}


.mainProgramacao {
    background-color: #242424;
    justify-content: center;
    padding: 3rem 0;
}

.topo {
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo p {
    font-weight: bolder;
    font-size: 16px;
    color: white;
}

.topo a {
    text-decoration: none;
    font-size: 14px;
    color: #ff183e;
}

.topo a:hover {
    color: #ff5555;
}

.programacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.dias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
}

.dia {
    border: solid 1px #050505;
    border-radius: 10px;
    padding: 8px 14px ;
    color: rgb(235, 235, 235);
    background-color: #131313;
}

.dia:hover {
    border-color: rgb(221, 16, 16);
    box-shadow:0 0 20px rgba(194, 8, 8, 0.3);
}

.dia h3 {
    font-size: 16px;
}

.dia p {
    font-size: 16px;
}

.hora {
    font-size: 12px;
    color: #ff183e;
}

.evento {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vagas {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ingressos {
    background-color: rgb(54, 54, 54);
    border: solid 1px black;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    margin: 5rem 0;
}

.tag {
    font-size: 12px;
    font-weight: bold;
    color: #ff183e;
}

.textoVagas {
    width: 45%;

}

.textoVagas h2 span {
    color: white;
}

.preco {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.preco button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.preco h2 {
    font-size: 32px;
    color: white;
}

.preco p {
    font-size: 14px;
    font-weight: bold;
}